# Project Notebook: Augmenting Pandas with SQLite

## Question 1: Introduction

In this session, we explored a few different ways to work with larger datasets in pandas. In this guided project, we'll practice using some of the techniques we learned to analyze startup investments from Crunchbase.com.

Every year, thousands of startup companies raise financing from investors. Each time a startup raises money, we refer to the event as a fundraising round. Crunchbase is a website that crowdsources information on the fundraising rounds of many startups. The Crunchbase user community submits, edits, and maintains most of the information in Crunchbase.

In return, Crunchbase makes the data available through a Web application and a fee-based API. Before Crunchbase switched to the paid API model, multiple groups crawled the site and released the data online. Because the information on the startups and their fundraising rounds is always changing, the data set we'll be using isn't completely up to date.

Throughout this project, we'll practice working with different memory constraints. In this step, let's assume we only have 10 megabytes of available memory. While crunchbase-investments.csv (https://bit.ly/3BPcobU) consumes 10.3 megabytes of disk space, we know from earlier lessons that pandas often requires 4 to 6 times amount of space in memory as the file does on disk (especially when there's many string columns).


**Tasks**

* Because the data set contains over 50,000 rows, you'll need to read the data set into dataframes using 5,000 row chunks to ensure that each chunk consumes much less than 10 megabytes of memory.
* Across all of the chunks, become familiar with:
1. Each column's missing value counts.
2. Each column's memory footprint.
3. The total memory footprint of all of the chunks combined.
4. Which column(s) we can drop because they aren't useful for analysis.

In [5]:
# Dataset URL = https://bit.ly/3BPcob
import pandas as pd

import matplotlib.pyplot as plt

df = pd.read_csv("https://bit.ly/3BPcobU",encoding = 'unicode_escape')
df.shape

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(52870, 20)

In [6]:
# checking missing data per column in the entire network

df.isnull().sum()

company_permalink             1
company_name                  1
company_category_code       643
company_country_code          1
company_state_code          492
company_region                1
company_city                533
investor_permalink            2
investor_name                 2
investor_category_code    50427
investor_country_code     12001
investor_state_code       16809
investor_region               2
investor_city             12480
funding_round_type            3
funded_at                     3
funded_month                  3
funded_quarter                3
funded_year                   3
raised_amount_usd          3599
dtype: int64

In [7]:
# dividing data into chunks and checking null info in each chunk


chrunch_iter = pd.read_csv("https://bit.ly/3BPcobU",encoding = 'unicode_escape', chunksize=5000)
for chunk in chrunch_iter:

#calcualting memeory usage per chunk  
  print(chunk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4948 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4947 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4936 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  2443 non-null   object
 10  investor_country_code   4222 non-null   object
 11  investor_state_code     3629 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4100 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4347 non-null   float64
dtypes: float64(1), int64(1), object(18)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 5000 to 9999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4949 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4957 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4955 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4739 non-null   object
 11  investor_state_code     4286 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4687 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4761 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 10000 to 14999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4918 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4944 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4956 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4729 non-null   object
 11  investor_state_code     4192 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4686 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4779 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 15000 to 19999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4943 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4964 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4956 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4761 non-null   object
 11  investor_state_code     4286 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4726 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4701 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 20000 to 24999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4931 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4960 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4959 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4648 non-null   object
 11  investor_state_code     3884 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4566 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4757 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 25000 to 29999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4939 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4961 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4967 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4782 non-null   object
 11  investor_state_code     4268 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4762 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4794 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 30000 to 34999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4999 non-null   object
 1   company_name            4999 non-null   object
 2   company_category_code   4912 non-null   object
 3   company_country_code    4999 non-null   object
 4   company_state_code      4965 non-null   object
 5   company_region          4999 non-null   object
 6   company_city            4958 non-null   object
 7   investor_permalink      4998 non-null   object
 8   investor_name           4998 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4687 non-null   object
 11  investor_state_code     4078 non-null   object
 12  investor_region         4998 non-null   object
 13  investor_city           4661 non-null   object
 14  funding_round_type      4997 non-null   object
 15  funded_at               4997 non-null   object
 16  funded_month            4997 non-null   object
 17  funded_quarter          4997 non-null   object
 18  funded_year             4997 non-null   float64
 19  raised_amount_usd       4713 non-null   float64
dtypes: float64(3), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 35000 to 39999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4917 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4935 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4945 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4733 non-null   object
 11  investor_state_code     4225 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4666 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4632 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 40000 to 44999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4925 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4950 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4950 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   3568 non-null   object
 11  investor_state_code     3213 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           3536 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4676 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 45000 to 49999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4985 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4954 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4930 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   0 non-null      float64
 11  investor_state_code     0 non-null      float64
 12  investor_region         5000 non-null   object
 13  investor_city           0 non-null      float64
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4531 non-null   float64
dtypes: float64(5), int64(1), object(14)
memory usage: 781.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2870 entries, 50000 to 52869
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       2870 non-null   object
 1   company_name            2870 non-null   object
 2   company_category_code   2860 non-null   object
 3   company_country_code    2870 non-null   object
 4   company_state_code      2841 non-null   object
 5   company_region          2870 non-null   object
 6   company_city            2825 non-null   object
 7   investor_permalink      2870 non-null   object
 8   investor_name           2870 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   0 non-null      float64
 11  investor_state_code     0 non-null      float64
 12  investor_region         2870 non-null   object
 13  investor_city           0 non-null      float64
 14  funding_round_type      2870 non-null   object
 15  funded_at               2870 non-null   object
 16  funded_month            2870 non-null   object
 17  funded_quarter          2870 non-null   object
 18  funded_year             2870 non-null   int64
 19  raised_amount_usd       2580 non-null   float64
dtypes: float64(5), int64(1), object(14)
memory usage: 448.6+ KB
None

## Observation:
investor_category_code have a lot of null values and can be dropped in this data .

the aim of the data is raised amount, and so, all null values of raised_amount_usd should be deleted

In [8]:
chrunch_iter = pd.read_csv("https://bit.ly/3BPcobU",encoding = 'unicode_escape', chunksize=5000)
for chunk in chrunch_iter:
    #drop rows where raised amount is null
  chunk = chunk.dropna(subset=['raised_amount_usd'])
  #drop colulmn investor_category_code
  chunk.drop(['investor_category_code'], axis=1)
  #calcualting memeory usage per chunk  
  print(chunk.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4347 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4347 non-null   object
 1   company_name            4347 non-null   object
 2   company_category_code   4302 non-null   object
 3   company_country_code    4347 non-null   object
 4   company_state_code      4306 non-null   object
 5   company_region          4347 non-null   object
 6   company_city            4301 non-null   object
 7   investor_permalink      4347 non-null   object
 8   investor_name           4347 non-null   object
 9   investor_category_code  1973 non-null   object
 10  investor_country_code   3644 non-null   object
 11  investor_state_code     3103 non-null   object
 12  investor_region         4347 non-null   object
 13  investor_city           3533 non-null   object
 14  funding_round_type      4347 non-null   object
 15  funded_at               4347 non-null   object
 16  funded_month            4347 non-null   object
 17  funded_quarter          4347 non-null   object
 18  funded_year             4347 non-null   int64
 19  raised_amount_usd       4347 non-null   float64
dtypes: float64(1), int64(1), object(18)
memory usage: 713.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4761 entries, 5000 to 9999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4761 non-null   object
 1   company_name            4761 non-null   object
 2   company_category_code   4718 non-null   object
 3   company_country_code    4761 non-null   object
 4   company_state_code      4720 non-null   object
 5   company_region          4761 non-null   object
 6   company_city            4719 non-null   object
 7   investor_permalink      4761 non-null   object
 8   investor_name           4761 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4526 non-null   object
 11  investor_state_code     4110 non-null   object
 12  investor_region         4761 non-null   object
 13  investor_city           4476 non-null   object
 14  funding_round_type      4761 non-null   object
 15  funded_at               4761 non-null   object
 16  funded_month            4761 non-null   object
 17  funded_quarter          4761 non-null   object
 18  funded_year             4761 non-null   int64
 19  raised_amount_usd       4761 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4779 entries, 10000 to 14999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4779 non-null   object
 1   company_name            4779 non-null   object
 2   company_category_code   4699 non-null   object
 3   company_country_code    4779 non-null   object
 4   company_state_code      4730 non-null   object
 5   company_region          4779 non-null   object
 6   company_city            4740 non-null   object
 7   investor_permalink      4779 non-null   object
 8   investor_name           4779 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4524 non-null   object
 11  investor_state_code     3999 non-null   object
 12  investor_region         4779 non-null   object
 13  investor_city           4483 non-null   object
 14  funding_round_type      4779 non-null   object
 15  funded_at               4779 non-null   object
 16  funded_month            4779 non-null   object
 17  funded_quarter          4779 non-null   object
 18  funded_year             4779 non-null   int64
 19  raised_amount_usd       4779 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 784.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4701 entries, 15000 to 19999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4701 non-null   object
 1   company_name            4701 non-null   object
 2   company_category_code   4652 non-null   object
 3   company_country_code    4701 non-null   object
 4   company_state_code      4666 non-null   object
 5   company_region          4701 non-null   object
 6   company_city            4660 non-null   object
 7   investor_permalink      4701 non-null   object
 8   investor_name           4701 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4484 non-null   object
 11  investor_state_code     4030 non-null   object
 12  investor_region         4701 non-null   object
 13  investor_city           4454 non-null   object
 14  funding_round_type      4701 non-null   object
 15  funded_at               4701 non-null   object
 16  funded_month            4701 non-null   object
 17  funded_quarter          4701 non-null   object
 18  funded_year             4701 non-null   int64
 19  raised_amount_usd       4701 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 771.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4757 entries, 20000 to 24999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4757 non-null   object
 1   company_name            4757 non-null   object
 2   company_category_code   4689 non-null   object
 3   company_country_code    4757 non-null   object
 4   company_state_code      4723 non-null   object
 5   company_region          4757 non-null   object
 6   company_city            4722 non-null   object
 7   investor_permalink      4757 non-null   object
 8   investor_name           4757 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4427 non-null   object
 11  investor_state_code     3704 non-null   object
 12  investor_region         4757 non-null   object
 13  investor_city           4347 non-null   object
 14  funding_round_type      4757 non-null   object
 15  funded_at               4757 non-null   object
 16  funded_month            4757 non-null   object
 17  funded_quarter          4757 non-null   object
 18  funded_year             4757 non-null   int64
 19  raised_amount_usd       4757 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 780.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4794 entries, 25000 to 29999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4794 non-null   object
 1   company_name            4794 non-null   object
 2   company_category_code   4738 non-null   object
 3   company_country_code    4794 non-null   object
 4   company_state_code      4756 non-null   object
 5   company_region          4794 non-null   object
 6   company_city            4764 non-null   object
 7   investor_permalink      4794 non-null   object
 8   investor_name           4794 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4593 non-null   object
 11  investor_state_code     4102 non-null   object
 12  investor_region         4794 non-null   object
 13  investor_city           4575 non-null   object
 14  funding_round_type      4794 non-null   object
 15  funded_at               4794 non-null   object
 16  funded_month            4794 non-null   object
 17  funded_quarter          4794 non-null   object
 18  funded_year             4794 non-null   int64
 19  raised_amount_usd       4794 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 786.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4713 entries, 30000 to 34999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4713 non-null   object
 1   company_name            4713 non-null   object
 2   company_category_code   4634 non-null   object
 3   company_country_code    4713 non-null   object
 4   company_state_code      4687 non-null   object
 5   company_region          4713 non-null   object
 6   company_city            4678 non-null   object
 7   investor_permalink      4713 non-null   object
 8   investor_name           4713 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4424 non-null   object
 11  investor_state_code     3841 non-null   object
 12  investor_region         4713 non-null   object
 13  investor_city           4400 non-null   object
 14  funding_round_type      4713 non-null   object
 15  funded_at               4713 non-null   object
 16  funded_month            4713 non-null   object
 17  funded_quarter          4713 non-null   object
 18  funded_year             4713 non-null   float64
 19  raised_amount_usd       4713 non-null   float64
dtypes: float64(3), object(17)
memory usage: 773.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4632 entries, 35000 to 39999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4632 non-null   object
 1   company_name            4632 non-null   object
 2   company_category_code   4563 non-null   object
 3   company_country_code    4632 non-null   object
 4   company_state_code      4574 non-null   object
 5   company_region          4632 non-null   object
 6   company_city            4585 non-null   object
 7   investor_permalink      4632 non-null   object
 8   investor_name           4632 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   4387 non-null   object
 11  investor_state_code     3902 non-null   object
 12  investor_region         4632 non-null   object
 13  investor_city           4322 non-null   object
 14  funding_round_type      4632 non-null   object
 15  funded_at               4632 non-null   object
 16  funded_month            4632 non-null   object
 17  funded_quarter          4632 non-null   object
 18  funded_year             4632 non-null   int64
 19  raised_amount_usd       4632 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 759.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4676 entries, 40000 to 44999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4676 non-null   object
 1   company_name            4676 non-null   object
 2   company_category_code   4613 non-null   object
 3   company_country_code    4676 non-null   object
 4   company_state_code      4628 non-null   object
 5   company_region          4676 non-null   object
 6   company_city            4628 non-null   object
 7   investor_permalink      4676 non-null   object
 8   investor_name           4676 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   3392 non-null   object
 11  investor_state_code     3055 non-null   object
 12  investor_region         4676 non-null   object
 13  investor_city           3362 non-null   object
 14  funding_round_type      4676 non-null   object
 15  funded_at               4676 non-null   object
 16  funded_month            4676 non-null   object
 17  funded_quarter          4676 non-null   object
 18  funded_year             4676 non-null   int64
 19  raised_amount_usd       4676 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 767.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4531 entries, 45000 to 49999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       4531 non-null   object
 1   company_name            4531 non-null   object
 2   company_category_code   4520 non-null   object
 3   company_country_code    4531 non-null   object
 4   company_state_code      4486 non-null   object
 5   company_region          4531 non-null   object
 6   company_city            4466 non-null   object
 7   investor_permalink      4531 non-null   object
 8   investor_name           4531 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   0 non-null      float64
 11  investor_state_code     0 non-null      float64
 12  investor_region         4531 non-null   object
 13  investor_city           0 non-null      float64
 14  funding_round_type      4531 non-null   object
 15  funded_at               4531 non-null   object
 16  funded_month            4531 non-null   object
 17  funded_quarter          4531 non-null   object
 18  funded_year             4531 non-null   int64
 19  raised_amount_usd       4531 non-null   float64
dtypes: float64(5), int64(1), object(14)
memory usage: 743.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 50000 to 52869
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       2580 non-null   object
 1   company_name            2580 non-null   object
 2   company_category_code   2572 non-null   object
 3   company_country_code    2580 non-null   object
 4   company_state_code      2555 non-null   object
 5   company_region          2580 non-null   object
 6   company_city            2540 non-null   object
 7   investor_permalink      2580 non-null   object
 8   investor_name           2580 non-null   object
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   0 non-null      float64
 11  investor_state_code     0 non-null      float64
 12  investor_region         2580 non-null   object
 13  investor_city           0 non-null      float64
 14  funding_round_type      2580 non-null   object
 15  funded_at               2580 non-null   object
 16  funded_month            2580 non-null   object
 17  funded_quarter          2580 non-null   object
 18  funded_year             2580 non-null   int64
 19  raised_amount_usd       2580 non-null   float64
dtypes: float64(5), int64(1), object(14)
memory usage: 423.3+ KB
None

In [9]:
# deleting the above unnecessary data
for chunk in chrunch_iter:
 
   #drop rows where raised amount is null
  chunk = chunk.dropna(subset=['raised_amount_usd'])
  #drop colulmn investor_category_code
  chunk.drop(['investor_category_code'], axis=1)
  #calcualting memeory usage per chunk  
  print(chunk.info())

## Question 2: Selecting Data Types

Now that we have a good sense of the missing values, let's get familiar with the column types before adding the data into SQLite.

**Tasks**

* Identify the types for each column.
* Identify the numeric columns we can represent using more space efficient types.
For text columns:
* Analyze the unique value counts across all of the chunks to see if we can convert them to a numeric type.
* See if we clean clean any text columns and separate them into multiple numeric columns without adding any overhead when querying.
* Make your changes to the code from the last step so that the overall memory the data consumes stays under 10 megabytes.

In [10]:
# converting objects with less than 0.5 unique values into category
for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    if num_unique_values / num_total_values < 0.5:
        chunk[col] = chunk[col].astype('category')
        
print(chunk.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 50000 to 52869
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       2580 non-null   object
 1   company_name            2580 non-null   object
 2   company_category_code   2572 non-null   category
 3   company_country_code    2580 non-null   category
 4   company_state_code      2555 non-null   category
 5   company_region          2580 non-null   category
 6   company_city            2540 non-null   category
 7   investor_permalink      2580 non-null   category
 8   investor_name           2580 non-null   category
 9   investor_category_code  0 non-null      float64
 10  investor_country_code   0 non-null      float64
 11  investor_state_code     0 non-null      float64
 12  investor_region         2580 non-null   category
 13  investor_city           0 non-null      float64
 14  funding_round_type      2580 non-null   category
 15  funded_at               2580 non-null   category
 16  funded_month            2580 non-null   category
 17  funded_quarter          2580 non-null   category
 18  funded_year             2580 non-null   int64
 19  raised_amount_usd       2580 non-null   float64
dtypes: category(12), float64(5), int64(1), object(2)
memory usage: 924.0 KB
None

In [11]:
float_chunk = chunk.select_dtypes(include=['float64'])
print(float_chunk.isnull().sum())

investor_category_code    2580
investor_country_code     2580
investor_state_code       2580
investor_city             2580
raised_amount_usd            0
dtype: int64

## Question 3: Loading Chunks Into SQLite

Now we're in good shape to start exploring and analyzing the data. The next step is to load each chunk into a table in a SQLite database so we can query the full data set.

**Tasks**

1. Create and connect to a new SQLite database file.
2. Expand on the existing chunk processing code to export each chunk to a new table in the SQLite database.
3. Query the table and make sure the data types match up to what you had in mind for each column.

In [14]:
# Your code goes here

import sqlite3

#create new database chrunch 
conn = sqlite3.connect('chrunch.db')
for chunk in chrunch_iter:
#export the chunk data to the sqlite and call it lenders
  chunk.to_sql("lenders", conn, if_exists='append', index=False)

#querry table 

new_df = pd.read_sql('PRAGMA table_info(lenders);', conn)
print(new_df)

    cid                    name     type  notnull dflt_value  pk
0     0       company_permalink     TEXT        0       None   0
1     1            company_name     TEXT        0       None   0
2     2   company_category_code     TEXT        0       None   0
3     3    company_country_code     TEXT        0       None   0
4     4      company_state_code     TEXT        0       None   0
5     5          company_region     TEXT        0       None   0
6     6            company_city     TEXT        0       None   0
7     7      investor_permalink     TEXT        0       None   0
8     8           investor_name     TEXT        0       None   0
9     9  investor_category_code     REAL        0       None   0
10   10   investor_country_code     REAL        0       None   0
11   11     investor_state_code     REAL        0       None   0
12   12         investor_region     TEXT        0       None   0
13   13           investor_city     REAL        0       None   0
14   14      funding_round_type     TEXT        0       None   0
15   15               funded_at     TEXT        0       None   0
16   16            funded_month     TEXT        0       None   0
17   17          funded_quarter     TEXT        0       None   0
18   18             funded_year  INTEGER        0       None   0
19   19       raised_amount_usd     REAL        0       None   0

## Question 4: Next Steps

Now that the data is in SQLite, we can use the pandas SQLite workflow we learned in the last lesson to explore and analyze startup investments. Remember that each row isn't a unique company, but a unique investment from a single investor. This means that many startups will span multiple rows.

Use the pandas SQLite workflow to answer the following questions:

* What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.
* Which category of company attracted the most investments?
* Which investor contributed the most money (across all startups)?
* Which investors contributed the most money per startup?
* Which funding round was the most popular? Which was the least popular?

Here are some ideas for further exploration:

* Repeat the tasks in this project using stricter memory constraints (under 1 megabyte).
* Clean and analyze the other Crunchbase data sets from the same GitHub repo.
* Understand which columns the data sets share, and how the data sets are linked.
* Create a relational database design that links the data sets together and reduces the overall disk space the database file consumes.

Use pandas to populate each table in the database, create the appropriate indexes, and so on.

In [32]:
# Your code goes here

#q = 'select exhibitionid, count(*) as counts from exhibitions group by exhibitionid order by counts desc;'
#eid_counts = pd.read_sql(q, conn)
#print(eid_counts[:10])

# Which category of company attracted the most investments?
c = 'select company_name,  count(*) as counts  from lenders group by  investor_name order by counts desc;'
company_name = pd.read_sql(c, conn)
print(company_name[:10])

  company_name  counts
0      Aisle50      94
1         Shyp      55
2    Remind101      48
3      LE TOTE      46
4      Swipely      43
5      Declara      37
6     Estimote      31
7      Uncovet      30
8      Koality      29
9       Vungle      28

Aisle50 attracted the most investments

In [36]:
#Which investor contributed the most money (across all startups)?
d = 'select investor_name, sum(raised_amount_usd) as sum from lenders group by investor_name order by sum desc;'
investment_amount = pd.read_sql(d, conn)
print(investment_amount[:10])

    investor_name          sum
0     Peter Thiel  538150000.0
1      Ron Conway  374544911.0
2  Scott Banister  231965000.0
3     Yuri Milner  207250000.0
4     Ted Leonsis  193050000.0
5    Reid Hoffman  191960000.0
6  Randal J. Kirk  150000000.0
7  Timothy Draper  144902000.0
8  Naval Ravikant  122075050.0
9      Steve Case  117102986.0

Peter Thiel contributed the most

In [48]:
#Which investors contributed the most money per startup?
s = 'select investor_name,company_name, sum(raised_amount_usd) as sum from lenders group by company_name order by sum desc;'
startup_amount = pd.read_sql(s, conn)
print(startup_amount[:10])

              investor_name                     company_name          sum
0             Vikram Pandit                       CommonBond  300000000.0
1               Peter Thiel          Legendary Entertainment  275000000.0
2              Suhail Rizvi                        Flipboard  171000000.0
3            Randal J. Kirk             Intrexon Corporation  150000000.0
4               Ted Leonsis                 Revolution Money  134000000.0
5           Ross Perot, Jr.                          Clinkle  125000000.0
6  Stanley F. Druckenmiller             Relationship Science  120000000.0
7             Raymond James                  T5 Data Centers  113000000.0
8               Yuri Milner                          23andMe  112600000.0
9               Paul Posner  Pocket Communications Northeast  100000000.0

Vikram Pandit contrinuted most to a single commonBond startup company

In [46]:
#Which funding round was the most popular? Which was the least popular?
f = 'select funding_round_type,  count(*) as counts  from lenders group by  funding_round_type order by counts desc;'
funding_round = pd.read_sql(f, conn)
print(funding_round[:10])

  funding_round_type  counts
0              angel    1125
1           series-a     994
2            venture     192
3           series-b     145
4          series-c+      88
5              other      27
6     private-equity       9

most popular angel
last popular privae-equity